venv/
.env/
__pycache__/
*.pyc
.DS_Store

# Ignore large data and model files
movies_recommender_artifacts/dataset/transformed_data/transformed_data.npy
movies_recommender_artifacts/trained_model/similarity.pkl
