movies_recommender_artifacts/dataset/transformed_data/transformed_data.npy filter=lfs diff=lfs merge=lfs -text
movies_recommender_artifacts/trained_model/similarity.pkl filter=lfs diff=lfs merge=lfs -text
